@import "reset";
@import "elements";
@import "banner";
@import "grid";
@import "item";

body {
  min-width: 320px;
  margin-left: -200px;
}

.container {
  //max-width: 1250px;
  margin: 0 auto;
  background-color: #ecf0f1;
  //height: 200vh;
}

img {
  width: 100%;
  height: auto;
}
